/**
 * _customerLabel.less
 * @author wangbo
 * @since 2018/11/15
 */
.customer-label-container {
	margin-bottom: 20px;
	width: 1070px;
	.loading-area {
		margin-left: 45%;
	}
	.customer-label-title {
		min-height: 80px;
		color: #3D3D3D;
		border-bottom: 1px dashed #DADADA;
		> div {
			margin-bottom: 7px;
		}
		ul {
			display: inline-block;
			li {
				display: inline-block;
				height: 24px;
				position: relative;
				border-radius: 2px;
				color: #666;
				padding: 4px 16px;
				margin-right: 5px;
				margin-bottom: 5px;
				border: 1px solid #CCDCEB;
				background: #EFF7FF;
				icon-edit {
					position: absolute;
					top: 5px;
					right: 2px;
					cursor: pointer;
					.cc-icon{
						fill: #0097D7;
					}
				}
			}
		}
		.cloud-tag {
			cursor: default;
		}
		.define-tag {
			background: rgba(239, 247, 255, 1);
			color: #666666;
			.icon-edit {
				font-size: 12px;
				margin-left: 5px;
				cursor: pointer;
				color: #0083BA;
			}
		}
		.no-define-tag {
			cursor: pointer;
		}
		.add-tag {
			color: #0097D7;
			cursor: pointer;
			icon-add {
				margin-right: 2px;
				vertical-align: middle;
				.cc-icon{
					fill: #0097D7;
				}
			}
		}
	}
	.customer-label-main {
		.shop-area {
			height: 32px;
			width: 1070px;
			line-height: 32px;
			cc-dropdown-select{
				width: 130px;
				line-height: 24px;
				.dropdown-select-input{
					height: 24px;
					line-height: 24px;
				}
				.dropdown-select-icons{
					height: 24px;
					 .dropdown-select-clear, .dropdown-select-down{
						line-height: 24px;
					}
				}
			}
			.shop-icon > svg {
				vertical-align: -2px;
			}
			.shop-icon{
				.cc-icon{
					vertical-align: -2px;
					font-size: 14px;
				}
			}
			.choose-shop-label {
				margin-left: 16px;
			}
			.dropdown-list {
				max-height: 90px !important;
			}
			.shop-list {
				display: inline-block;
				width: 900px;
				> li {
					display: inline-block;
					color: #186493;
					cursor: pointer;
					margin-right: 15px;
					line-height: 16px;
					padding: 1px 2px;
				}
				.shopsActive {
					background: #7BBEE7;
					color: #FFFFFF;
					border-radius: 2px;
					padding: 3px 5px 5px 5px;
				}
			}
		}
		.label-list-area {
			margin: 12px 0 10px 18px;
			width: 1070px;
			dl {
				display: inline-block;
				margin: 0 0 12px 0;
				width: 344px;
			}
			dt,
			dd {
				display: inline-block;
				vertical-align: top;
				color: #3D3D3D;
			}
			dd {
				margin-left: 0;
				width: 120px;
			}
		}
	}
}
