<div class="customer-label-container">
	<cc-loading class="loading-area" ng-if="vm.showLoading"></cc-loading>
	<div class="customer-label-title" ng-if="!vm.showLoading">
		<!--云标签：未打标、未订阅则不显示-->
		<div class="cloud-tag-area" ng-if="vm.cloudTag.length">
			<ul>
				<span>云标签：</span>
				<li class="cloud-tag" ng-repeat="tag in vm.cloudTag">{{tag.tagName}}:{{tag.tagValue}}</li>
			</ul>
		</div>

		<div class="define-tag-area">
			<!--自定义标签：无标签则提示创建标签，未打标则提示打标-->
			<ul ng-class="{'hide-more-item': vm.tagHeight() > 56 && !vm.showMoreTag}">
				<span>自定义标签：</span>
				<li class="add-tag" ng-click="vm.openDefineTagModal('add', null)">
					<span><icon-add></icon-add>打标签</span>
				</li>
				<li ng-if="vm.defineTag.length"
					class="define-tag"
					ng-repeat="tag in vm.defineTag">
					<span class="define-tag-name" ng-click="vm.openDefineTagModal('edit', tag)">
						{{tag.tagName}}：{{tag.valueType === 2 || tag.valueType === 4 ? tag.tagValue.join('、') : tag.valueType === 0 ? tag.tagValue[0] : tag.tagValue}}
					</span>
					<icon-close ng-click="vm.deleteTag(tag.tagId)"></icon-close>
				</li>
			</ul>
			<a class="toggle-show" ng-if="vm.tagHeight() > 56" ng-click="vm.toggleShowTag()">
				<span  ng-if="!vm.showMoreTag">
					展开全部
					<icon-arrow></icon-arrow>
				</span>
				<span ng-if="vm.showMoreTag">
					关闭全部
					<icon-arrow class="icon-up"></icon-arrow>
				</span>
			</a>
		</div>
	</div>

	<div class="customer-label-main" ng-if="!vm.showLoading">
		<ul>
			<li ng-repeat="item in vm.rfmList">
				<div class="shop-area">
					<span class="shop-icon">
						<svg style="fill: currentColor;width: 14px;height: 14px"
							 aria-hidden="true">
                      		<use xlink:href="{{vm.getPlat(item.platCode).icon}}"></use>
                		</svg>
						<icon-cl-tb ng-if="vm.getPlat(item.platCode).value === 'TAOBAO'"></icon-cl-tb>
						<icon-cl-jd ng-if="vm.getPlat(item.platCode).value === 'JOS'"></icon-cl-jd>
						<icon-cl-yhd ng-if="vm.getPlat(item.platCode).value === 'YHD'"></icon-cl-yhd>
						<icon-cl-sn ng-if="vm.getPlat(item.platCode).value === 'SUNING'"></icon-cl-sn>
						<icon-cl-dd ng-if="vm.getPlat(item.platCode).value === 'DD'"></icon-cl-dd>
						<icon-cl-wx ng-if="vm.getPlat(item.platCode).value === 'WX'"></icon-cl-wx>
						<span class="shop-type" ng-bind="vm.getPlat(item.platCode).title"></span>
					</span>
					<span class="choose-shop-label">选择店铺：</span>
					<ul class="shop-list" ng-if="item.platCode !== 'OFFLINE'">
						<li ng-class="{shopsActive: vm.selected === $index && vm.parentSelected === $parent.$index}"
							ng-repeat="shop in item.shopList"
							ng-click="vm.changeShop(item.platCode, shop.shopId, $index, $parent.$index)">{{shop.shopName}}</li>
					</ul>
					<cc-dropdown-select
						ng-if="item.platCode === 'OFFLINE'"
						model="vm.shop"
						searchable="true"
						datalist="item.shopList"
						mapping="{
							valueField: 'shopId',
							displayField: 'shopName'
						}"
						placeholder="不限"
						on-select-change="vm.changeShop('OFFLINE', vm.shop, $index, $parent.$index)">
					</cc-dropdown-select>
				</div>
				<div class="label-list-area">
					<dl>
						<dt>总购买金额：</dt>
						<dd>{{item.allPayment ? '￥' + item.allPayment : '--'}}</dd>
					</dl>
					<dl>
						<dt>最近一年购买金额：</dt>
						<dd>{{item.yearPayment ? '￥' + item.yearPayment : '--'}}</dd>
					</dl>
					<dl>
						<dt>首次购买日期：</dt>
						<dd>{{item.firstCreated ? item.firstCreated.slice(0,10) : '--'}}</dd>
					</dl>
					<dl>
						<dt>总购买次数：</dt>
						<dd>{{item.allCountBuy ? item.allCountBuy + '次' : '--'}}</dd>
					</dl>
					<dl>
						<dt>最近一年购买次数：</dt>
						<dd>{{item.yearCountBuy ? item.yearCountBuy + '次' : '--'}}</dd>
					</dl>
					<dl>
						<dt>最近一次购买日期：</dt>
						<dd>{{item.lastCreated ? item.lastCreated.slice(0,10) : '--'}}</dd>
					</dl>
					<dl>
						<dt>平均客单价：</dt>
						<dd>{{item.allAvgPayment ? '￥' + item.allAvgPayment : '--'}}</dd>
					</dl>
					<dl>
						<dt>最近一年平均客单价：</dt>
						<dd>{{item.yearAvgPayment ? '￥' + item.yearAvgPayment : '--'}}</dd>
					</dl>
					<dl>
						<dt>最近一次购买金额：</dt>
						<dd>{{item.lastPayment ? '￥' + item.lastPayment : '--' }}</dd>
					</dl>
				</div>
			</li>
		</ul>
		<ul>
			<li ng-if="!vm.rfmList.length && !vm.showLoading">
				<div class="label-list-area">
					<dl>
						<dt>总购买金额：</dt>
						<dd>--</dd>
					</dl>
					<dl>
						<dt>最近一年购买金额：</dt>
						<dd>--</dd>
					</dl>
					<dl>
						<dt>首次购买日期：</dt>
						<dd>--</dd>
					</dl>
					<dl>
						<dt>总购买次数：</dt>
						<dd>--</dd>
					</dl>
					<dl>
						<dt>最近一年购买次数：</dt>
						<dd>--</dd>
					</dl>
					<dl>
						<dt>最近一次购买日期：</dt>
						<dd>--</dd>
					</dl>
					<dl>
						<dt>平均客单价：</dt>
						<dd>--</dd>
					</dl>
					<dl>
						<dt>最近一年平均客单价：</dt>
						<dd>--</dd>
					</dl>
					<dl>
						<dt>最近一次购买金额：</dt>
						<dd>--</dd>
					</dl>
				</div>
			</li>
		</ul>
	</div>
</div>
