/**
 * _tagSelect.less
 * wangbo
 * 2019/9/4
 */
.tag-area {
	max-height: 140px;
	width: 220px;
	overflow: auto;
	padding: 8px 0;
	background: #fdfdfd;
	color: #3D3D3D;
	border: 1px solid #D9D9D9;
	position: absolute;
	z-index: 99;

	> li > p {
		height: 30px;
		line-height: 30px;
		cursor: pointer;
		padding: 0 24px 0 8px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:hover {
			background: #F6F6F6;
		}
		.search-highlight {
			color: #ba4a57 !important;
		}
		icon-jiantouyou, icon-jiantouzuo {
			display: inline-block;
			position: absolute;
			right: 10px;
			.cc-icon {
				fill: #C2C2C2;
			}
		}
		icon-jiantouzuo {
			transform: rotate(-90deg);
		}

	}
	.tag-item {
		padding-left: 40px;
	}

	.search-area {
		padding: 0 5px 4px 5px;

		.search-input {
			width: 100%;
			padding-right: 24px;
		}

		icon-close {
			position: absolute;
			top: 10px;
			right: 12px;
			cursor: pointer;

			.cc-icon {
				fill: #CECECE;
			}
		}
	}
}
