<ul class="tag-area">
	<li class="search-area">
		<input class="search-input" type="text" autofocus placeholder="请输入搜索值" ng-model="vm.searchValue" ng-change="vm.searchInput(vm.searchValue)">
		<icon-close ng-click="vm.searchInput(vm.searchValue = '')"></icon-close>
	</li>
	<li ng-repeat="item in vm.tagListResult track by $index">
		<p ng-click="vm.toggleGroupTag(item)">
			<span ng-bind-html="vm.getSearchTagName(item.groupName)"></span>
			<icon-jiantouzuo ng-if="item.showTagItem"></icon-jiantouzuo>
			<icon-jiantouyou ng-if="!item.showTagItem"></icon-jiantouyou>
		</p>
		<p ng-if="item.showTagItem" ng-repeat="son in item.tagList" ng-click="vm.selectedTag(son)" class="tag-item">
			<span ng-bind-html="vm.getSearchTagName(son.tagName)"></span>
		</p>
	</li>
</ul>
