<cc-loading class="label-loading" ng-if="vm.showLoading"></cc-loading>
<form class="label-modal-container" name="vm.form" ng-if="!vm.showLoading">
	<dl class="label-area">
		<dt>标签：</dt>
		<dd ng-if="vm.modalType === 'add'">
			<cc-dropdown-select
				model="vm.name"
				datalist="vm.defineTagNameList"
				placeholder="请选择标签"
				searchable="true"
				mapping="{
					valueField: 'tagValueType',
					displayField: 'tagName'
				}"
				on-select-change="vm.onChangeTagName(model, oldModel, itemIndex, item)"
				disabled="vm.modalType === 'edit'"
				class="dropdown">
			</cc-dropdown-select>
		</dd>
		<dd ng-if="vm.modalType === 'edit'">
			<span ng-bind="vm.tagName"></span>
		</dd>
	</dl>
	<dl class="label-area">
		<dt>标签类型：</dt>
		<dd>
			<span class="label-tips" ng-bind="vm.tagValueTypeName"></span>
		</dd>
	</dl>
	<dl class="label-area">
		<dt>标签值：</dt>
		<dd>
			<span class="label-tips" ng-if="vm.tagValueType === -1">请选择标签</span>
			<!--内容多选型-->
			<cc-dropdown-multiselect
				ng-if="vm.tagValueType === 4"
				placeholder="请选择标签值"
				model="vm.tagValueList"
				has-select-all="true"
				searchable="true"
				class="dropdown"
				datalist="vm.defineMultipleTagValueList">
			</cc-dropdown-multiselect>

			<!--内容单选型-->
			<cc-dropdown-select
				ng-if="vm.tagValueType === 3"
				model="vm.tagValue"
				searchable="true"
				datalist="vm.defineSingleTagValueList"
				placeholder="请选择标签值"
				class="dropdown">
			</cc-dropdown-select>

			<!--字符型-->
			<span ng-if="vm.tagValueType === 1">
				<input type="text" placeholder="请选择标签值" ng-model="vm.tagValue">
			</span>

			<!--日期型-->
			<span ng-if="vm.tagValueType === 0">
				<cc-date-picker
					ng-model="vm.tagValue"
					date-only="true">
				</cc-date-picker>
			</span>

			<!--数值型-->
			<span ng-if="vm.tagValueType === 2">
				<input type="text"
					   class="label-value-number"
					   required
					   placeholder="请输入标签值"
					   ng-model="vm.tagValue"
					   ng-pattern="vm.inputRegExpress"
					   cc-validator
					   pattern-msg="只支持数字且最多支持4位小数">
			</span>
		</dd>
	</dl>

	<div class="footer-modal">
		<a>
			<span class="delete-tag" ng-if="vm.modalType === 'edit'" ng-click="vm.deleteTag()">删除标签</span>
		</a>
	</div>
</form>
