<cc-loading class="label-loading" ng-if="vm.showLoading"></cc-loading>
<form class="label-modal-container" name="vm.form" ng-if="!vm.showLoading">
	<dl class="label-area">
		<dt>标签：</dt>
		<dd>
			<div class="selected-area" ng-click="vm.toggleShowTagList()" ng-class="{disableEdit: vm.modalType === 'edit'}">
				<input type="text" placeholder="请选择标签" readonly ng-model="vm.selectedTagName" ng-class="{disableInput: vm.modalType === 'edit'}">
				<icon-jiantouzuo ng-if="vm.showTagList"></icon-jiantouzuo>
				<icon-jiantouyou ng-if="!vm.showTagList"></icon-jiantouyou>
			</div>

			<!--标签选择区域-->
			<wb-tag-select ng-if="vm.showTagList" ng-blur="vm.showTagList = false" tabindex="-1" tag-list="vm.defineTagList" on-selected-tag="vm.selectedTag(tag)"></wb-tag-select>
		</dd>

		<dt ng-if="vm.selectedTagName">标签类型：</dt>
		<dd>
			<span class="label-tips" ng-bind="vm.tagTypeName"></span>
		</dd>
	</dl>

	<dl class="label-area">
		<dt ng-if="vm.tagType === 0">选择日期：</dt>
		<dt class="select-tag-label" ng-if="vm.tagType === 2 || vm.tagType === 4">选择标签值：</dt>
		<dd>
			<!--日期型：年月日、月日、年月类型-->
			<div ng-if="vm.tagType === 0">
				<!--年月日类型-->
				<cc-date-picker
					ng-if="vm.optionType === 0"
					ng-model="vm.tagValue"
					date-only="true" >
				</cc-date-picker>
				<!--年月类型-->
				<wb-date-select
					ng-if="vm.optionType === 1"
					date="vm.tagValue">
				</wb-date-select>
				<!--todo 月日类型，一期不做-->
			</div>


			<!--字符、数值选择型-->
			<div class="select-item" ng-if="vm.tagType === 2 || vm.tagType === 4">
				<!--单选类型-->
				<label class="label-name"
					   ng-if="vm.valueNumberOption === 0"
					   ng-repeat="item in vm.defineTagValue track by $index"
					   ng-click="vm.selectedRadioTagValue(item)">
					<input type="radio" name="radio" ng-checked="vm.radioValue.itemVal === item.itemVal">
					<span class="tag-name">{{item.itemVal}}</span>
				</label>
				<!--多选类型-->
				<label class="label-name"
					   ng-if="vm.valueNumberOption === 1"
					   ng-repeat="item in vm.defineTagValue track by $index">
					<input type="checkbox"
						   ng-checked="vm.isSelected(item.itemVal)"
						   ng-click="vm.updateSelection($event, item.itemVal)">
					<span class="tag-name">{{item.itemVal}}</span>
				</label>
			</div>

			<!--字符输入型 todo 一期不做-->
<!--			<span ng-if="vm.valueType === 1">-->
<!--				<input type="text" placeholder="请选择标签值" ng-model="vm.tagValue">-->
<!--			</span>-->

			<!--数值输入型 todo 一期不做-->
<!--			<div ng-if="vm.tagValueType === 3">-->
<!--				<input type="text"-->
<!--					   class="label-value-number"-->
<!--					   required-->
<!--					   placeholder="请输入标签值"-->
<!--					   ng-model="vm.tagValue"-->
<!--					   ng-pattern="vm.inputRegExpress"-->
<!--					   cc-validator-->
<!--					   pattern-msg="只支持数字且最多支持4位小数">-->
<!--			</div>-->
		</dd>
	</dl>

<!--	<div class="footer-modal">-->
<!--		<a>-->
<!--			<span class="delete-tag" ng-if="vm.modalType === 'edit'" ng-click="vm.deleteTag()">删除标签</span>-->
<!--		</a>-->
<!--	</div>-->
</form>
